@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: aliceblue;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 30px;
}

span {
  font-size: 22px;
  display: block;
}

.menu {
  display: flex;
  position: relative;
  background-color: #111;
  padding: 8px;
  margin-left: 290px;
  margin-right: 290px;
  border-radius: 0 0 10px 10px;
}

.menu li {
  float: left;
  margin-right: 25px;
}

.menu li a {
  color: rgb(167, 157, 157);
}

.menu li a:hover {
  color: #10aaa5;
  text-decoration: none;
}

#logo-texto {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#logo {
  display: flex;
  background-color: #10aaa5;
  text-align: left;
  color: white;
  justify-content: center;
  margin-left: 290px;
  margin-right: 290px;
}

/* p.card-body {
font-size: 30px;
} */

img.ccv {
  width: 105px;
  height: 100px;
  margin-top: 40px;
  display: inline;
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 1000px;
}

.card-header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
text-align: justify;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #10aaa5;
}

a {
  color: #10aaa5;
  text-decoration-line: none;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

footer {
  background-color: #10aaa5;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  font-size: 15px;
  width: 100%;
  bottom: 0;
}

@media (max-width: 600px) {

.card{
width: auto ;
}

.card-body p {
    font-size: 18px;
text-align: justify;
}
  footer {
    position: relative;
    background-color: #10aaa5;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    font-size: 15px;
    bottom: 0;
    margin-top: 15px;
  }
}